
.edit-popup {
	z-index: 20;
	top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow-y: auto;
	/* border: 1px solid black; */
}

.contact-modification {
	z-index: 22;
	width: 600px;
	height: 430px;
	background-color: var(--fr-bg);
	border-radius: 12px;
	box-shadow: 0 0px 10px rgb(225, 225, 225);
	padding: 15px 20px 15px 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	/* border: 1px solid black; */
}

.contact-modification img {
	width: 18px;
	align-self: flex-end;
	margin: 8px;
	cursor: pointer;
}

.contact-modification input {
	border:none ;
	border-bottom: 1px solid gray;
	outline: none;
	font-size: 20px;
	font-weight: 600;
	padding: 12px;
	padding-top: 1px;
}

.contact-modification button {
	width: 60px;
	height: 35px;
	border: 1.5px solid #1e71ed;
	color:  #1e71ed;
	border-radius: 6px;
	font-weight: 600;
	align-self: flex-end;
	margin-right: 15px;
	cursor: pointer;
	background-color: var(--bck-bg);
}